.sobre {
    padding-bottom: 15px;
    text-align: center;
}

.youtube-sobrenos {
    padding: 10px;
}

.video-sobrenos {
    padding: 10px;
    width: 800px;
}

.video-sobrenos video {
    width: 100%;
}

.mapa-sobrenos {
    padding: 10px;
}

.mapa-sobrenos iframe {
    border: 1px solid #470864;
    border-radius: 4px;
}

.audio-sobrenos {
    width: 80%;
}

.audio-sobrenos audio {
    width: 100%;
    border: 1px solid #470864;
    border-radius: 18px;
}